<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 1000;">Bill</th>
      <th style="min-width: 1000;">Question</th>
      <th style="min-width: 1000;">Vote</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>116303</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h127 ">H.Res. 152: Providing for consideration of the resolution (H. Res. 132) providing for the expenses of certain committees of the ...</a></td>
      <td>No</td>
    </tr>
    <tr>
      <td>116306</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h128 ">S.J.Res. 8: A joint resolution providing for congressional disapproval under chapter 8 of title 5, United States Code, of the ...</a></td>
      <td>No</td>
    </tr>
    <tr>
      <td>116385</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h145 ">H.R. 1259: Helping Expand Lending Practices in Rural Communities Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116386</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h146 ">H.R. 1265: Bureau Advisory Commission Transparency Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116384</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h147 ">H.R. 1480: SAFE Act Confidentiality and Privilege Enhancement Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116529</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h244 ">S. 178: Justice for Victims of Trafficking Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116675</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h364 ">H.Res. 233: Expressing the sense of the House of Representatives that Iran should immediately release the three United States citizens ...</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116674</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h365 ">H.R. 2559: To designate the PFC Milton A. Lee Medal of Honor Memorial Highway in the State of Texas.</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116697</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h376 ">H.R. 1190: Protecting Seniors Access to Medicare Act of 2015</a></td>
      <td>No</td>
    </tr>
    <tr>
      <td>116772</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h435 ">H.R. 251: Homes for Heroes Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116770</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h436 ">H.R. 2997: Private Investment in Housing Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116771</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h437 ">H.R. 1723: Small Company Simple Registration Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117253</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h495 ">H.R. 1214: National Forest Small Tracts Act Amendments Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117252</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h496 ">H.R. 1949: National Liberty Memorial Clarification Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117866</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h550 ">H.R. 3493: Securing the Cities Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117867</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h551 ">H.R. 3350: Know the CBRN Terrorism Threats to Transportation Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117865</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h552 ">H.Res. 348: Supporting the right of the people of Ukraine to freely elect their government and determine their future.</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117870</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h554 ">H.Res. 480: Providing for consideration of the bill (H.R. 10) to reauthorize the Scholarships for Opportunity and Results Act, and ...</a></td>
      <td>No</td>
    </tr>
  </tbody>
</table>