<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 1000;">Bill</th>
      <th style="min-width: 1000;">Question</th>
      <th style="min-width: 1000;">Vote</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>116125</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h17 ">H.R. 203: Clay Hunt SAV Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117252</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h496 ">H.R. 1949: National Liberty Memorial Clarification Act of 2015</a></td>
      <td>Yea</td>
    </tr>
  </tbody>
</table>