<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th style="min-width: 100;">Bill</th>
      <th style="min-width: 100;">Question</th>
      <th style="min-width: 100;">Vote</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>116244</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h84 ">H.R. 212: Drinking Water Protection Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116282</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h112 ">H.R. 749: Passenger Rail Reform and Investment Act of 2015</a></td>
      <td>No</td>
    </tr>
    <tr>
      <td>116504</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h223 ">H.R. 36: Pain-Capable Unborn Child Protection Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116616</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h309 ">H.R. 2289: Commodity End-User Relief Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116652</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h333 ">H.R. 2393: Country of Origin Labeling Amendments Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116675</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h364 ">H.Res. 233: Expressing the sense of the House of Representatives that Iran should immediately release the three United States citizens ...</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116772</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h435 ">H.R. 251: Homes for Heroes Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>116801</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h449 ">H.R. 2256: Veterans Information Modernization Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117245</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h490 ">S. 1359: E-Warranty Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117246</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h491 ">H.Res. 412: Providing for consideration of the resolution (H. Res. 411) finding that the President has not complied with section ...</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117265</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h505 ">H.R. 3134: Defund Planned Parenthood Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117282</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h519 ">H.R. 2835: Border Jobs for Veterans Act of 2015</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117297</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h533 ">H.R. 3457: Justice for Victims of Iranian Terrorism Act</a></td>
      <td>Yea</td>
    </tr>
    <tr>
      <td>117902</td>
      <td><a href=" https://www.govtrack.us/congress/votes/114-2015/h575 ">H.R. 1090: Retail Investor Protection Act</a></td>
      <td>Yea</td>
    </tr>
  </tbody>
</table>